<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.better.alarm"
    android:versionCode="204"
    android:versionName="2.0.4" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" >
    </uses-sdk>

    <original-package android:name="com.android.alarmclock" />
    <original-package android:name="com.better.alarm" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".model.AlarmApplication"
        android:icon="@mipmap/ic_launcher_alarmclock"
        android:label="@string/app_label" >
        <provider
            android:name=".model.AlarmProvider"
            android:authorities="com.better.alarm.model"
            android:exported="false" />

        <!-- Activity to set a new or modify existing alarm -->
        <activity
            android:name=".presenter.AlarmsListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/alarm_list_title"
            android:taskAffinity=""
            android:theme="@style/AlarmClockTheme"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.android.alarmclock.AlarmClock"
            android:exported="true"
            android:targetActivity=".presenter.AlarmsListActivity" />

        <!-- Activity to set new or modify existing alarm -->
        <activity
            android:name=".presenter.SetAlarmActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:label="@string/set_alarm"
            android:theme="@style/SetAlarmTheme" />

        <!-- Application Settings -->
        <activity
            android:name=".presenter.SettingsActivity"
            android:excludeFromRecents="true"
            android:theme="@style/SettingsTheme"
            android:label="@string/settings"
            android:taskAffinity="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Forwards intents to the AlarmAlert or AlarmAlertFullScreen -->
        <receiver
            android:name=".presenter.AlarmAlertReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.better.alarm.ALARM_ALERT" />
                <action android:name="com.better.alarm.ALARM_PREALARM_ACTION" />
                <action android:name="com.better.alarm.ALARM_SNOOZE" />
                <action android:name="com.better.alarm.ALARM_DISMISS" />
            </intent-filter>
        </receiver>

        <!-- Alarm alert with snooze and dismiss buttons -->
        <activity
            android:name=".presenter.AlarmAlert"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo.Dialog" />

        <!--
             This activity is basically the same as AlarmAlert 
             but full-screen so that it can turn the display on.
        -->
        <activity
            android:name=".presenter.AlarmAlertFullScreen"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/AlarmAlertFullScreenTheme" />

        <!-- Forwards intents to the AlarmKlaxonService -->
        <receiver
            android:name=".presenter.AlarmKlaxonReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.better.alarm.ALARM_ALERT" />
                <action android:name="com.better.alarm.ALARM_PREALARM_ACTION" />
                <action android:name="com.better.alarm.ALARM_SNOOZE" />
                <action android:name="com.better.alarm.ALARM_DISMISS" />
            </intent-filter>
        </receiver>

        <!--
             This service receives intent from AlarmKlaxonReceiver. The
             AlarmKlaxonReceiver will receive the alert broadcast and will start
             this service with the same intent. The service plays the alarm alert
             and vibrates the device. This allows the alert to continue playing
             even if another activity causes the AlarmAlert activity to pause.
        -->
        <service
            android:name=".presenter.AlarmKlaxonService"
            android:description="@string/alarm_klaxon_service_desc"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.better.alarm.ALARM_ALERT" />
                <action android:name="com.better.alarm.ALARM_PREALARM_ACTION" />
                <action android:name="com.better.alarm.ALARM_SNOOZE" />
                <action android:name="com.better.alarm.ALARM_DISMISS" />
            </intent-filter>
        </service>

        <!-- Reacts on Alarms being set/unset and changes notification bar and lockscreen -->
        <receiver android:name=".presenter.ScheduledReceiver" >
            <intent-filter>
                <action android:name="com.better.alarm.model.Intents.ACTION_ALARMS_UNSCHEDULED" />
                <action android:name="com.better.alarm.model.Intents.ACTION_ALARM_SCHEDULED" />
            </intent-filter>
        </receiver>

        <!-- Reacts on Alarms being snoozed and displays a notification -->
        <receiver
            android:name=".presenter.NotificationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.better.alarm.ALARM_ALERT" />
                <action android:name="com.better.alarm.ALARM_SNOOZE" />
                <action android:name="com.better.alarm.ALARM_DISMISS" />
            </intent-filter>
        </receiver>

        <!-- Reacts on Alarms set and displays a toast -->
        <receiver
            android:name=".presenter.ToastPresenter"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.better.alarm.model.Intents.ACTION_ALARM_SET" />
            </intent-filter>
        </receiver>

        <!-- Model -->
        <!-- Receiver which receives intents and forwards them to the AlarmsService -->
        <receiver
            android:name=".model.AlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.better.alarm.ACTION_FIRED" />
                <action android:name="com.better.alarm.ACTION_SNOOZED_FIRED" />
                <action android:name="com.better.alarm.ACTION_SOUND_EXPIRED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <!-- This service is responsible for handling intents -->
        <service
            android:name=".model.AlarmsService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.better.alarm.ACTION_FIRED" />
                <action android:name="com.better.alarm.ACTION_SNOOZED_FIRED" />
                <action android:name="com.better.alarm.ACTION_SOUND_EXPIRED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </service>
        <service
            android:name=".model.DataBaseService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.better.alarm.ACTION_SAVE_ALARM" />
            </intent-filter>
        </service>
    </application>

</manifest>