<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.deskclock"
        android:versionCode="203" android:versionName="2.0.3">

    <original-package android:name="com.android.alarmclock" />
    <original-package android:name="com.android.deskclock" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <application android:label="@string/app_label"
                 android:icon="@mipmap/ic_launcher_alarmclock">

        <provider android:name="AlarmProvider"
                android:authorities="com.android.deskclock"
                android:exported="false" />

        <activity android:name="DeskClock"
                android:label="@string/app_label"
                android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar"
                android:icon="@mipmap/ic_launcher_alarmclock"
                android:launchMode="singleInstance"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation">
                >

            <!-- while docked, this is our home application -->
            <meta-data android:name="android.dock_home" android:value="true" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DESK_DOCK" />
            </intent-filter>
        </activity>

        <activity android:name="AlarmClock"
                android:label="@string/alarm_list_title"
                android:theme="@style/AlarmClockTheme"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"
                android:exported="true" />

        <activity-alias android:name="com.android.alarmclock.AlarmClock"
                android:targetActivity="com.android.deskclock.AlarmClock"
                android:exported="true" />

        <activity android:name="SettingsActivity"
                android:label="@string/settings"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name="SetAlarm" 
                android:label="@string/set_alarm"
                android:theme="@style/SetAlarmTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation" />

        <activity android:name="AlarmAlert"
                android:excludeFromRecents="true"
                android:theme="@android:style/Theme.Holo.Dialog"
                android:launchMode="singleInstance"
                android:taskAffinity=""
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>

        <!-- This activity is basically the same as AlarmAlert 
             but full-screen so that it can turn the display on. -->
        <activity android:name="AlarmAlertFullScreen"
                android:excludeFromRecents="true"
                android:theme="@style/AlarmAlertFullScreenTheme"
                android:launchMode="singleInstance"
                android:taskAffinity=""
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"/>

        <receiver android:name="AlarmReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="com.android.deskclock.ALARM_ALERT" />
                <action android:name="alarm_killed" />
                <action android:name="cancel_snooze" />
            </intent-filter>
        </receiver>

        <receiver android:name="DeskClock$DeskClockReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.DOCK_EVENT" />
            </intent-filter>
        </receiver>

        <activity android:name="HandleSetAlarm"
                android:theme="@android:style/Theme.NoDisplay"
                android:excludeFromRecents="true"
                android:permission="com.android.alarm.permission.SET_ALARM">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- This service receives the same intent as AlarmReceiver but it does
             not respond to the same broadcast. The AlarmReceiver will receive
             the alert broadcast and will start this service with the same
             intent. The service plays the alarm alert and vibrates the device.
             This allows the alert to continue playing even if another activity
             causes the AlarmAlert activity to pause. -->
        <service android:name="AlarmKlaxon"
                android:exported="false"
                android:description="@string/alarm_klaxon_service_desc">
            <intent-filter>
                <action android:name="com.android.deskclock.ALARM_ALERT" />
            </intent-filter>
        </service>

        <receiver android:name="AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.android.alarmclock.AnalogAppWidgetProvider" android:label="@string/analog_gadget"
        	android:icon="@mipmap/ic_widget_analog_clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.oldName" android:value="com.android.deskclock.AnalogAppWidgetProvider" />
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/analog_appwidget" />
        </receiver>

        <activity android:name=".Screensaver"
            android:label="@string/app_label"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:hardwareAccelerated="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.DREAM" />
            </intent-filter>
        </activity>
    </application>
</manifest>

