<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.better.alarm"
    android:versionCode="30510"
    android:versionName="3.05.10">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        android:maxSdkVersion="19" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".configuration.AlarmApplication"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:usesCleartextTraffic="true"
        android:label="@string/simple_alarm_clock">

        <!-- Activity to set a new or modify existing alarm -->
        <activity
            android:name=".presenter.AlarmsListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:exported="true"
            android:label="@string/alarm_list_title"
            android:launchMode="singleTask"
            android:theme="@style/DefaultDarkTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity to set new or modify existing alarm -->

        <!-- Application Settings -->
        <activity
            android:name=".presenter.SettingsActivity"
            android:excludeFromRecents="true"
            android:label="@string/settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presenter.HandleSetAlarm"
            android:excludeFromRecents="true"
            android:permission="com.android.alarm.permission.SET_ALARM"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- This activity is basically the same as AlarmAlert
             but full-screen so that it can turn the display on. -->
        <activity
            android:name=".alert.AlarmAlertFullScreen"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="" />

        <!-- Transparent activity with TimPickerFragment -->
        <activity
            android:name=".presenter.TransparentActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <!-- KlaxonPresenter plays sound -->
        <service
            android:name=".background.AlertServiceWrapper"
            android:description="@string/alarm_klaxon_service_desc"
            android:exported="false"></service>

        <!-- Model -->
        <receiver
            android:name=".model.AlarmsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.ACTION_FIRED" />
                <action android:name="${applicationId}.ACTION_SNOOZED_FIRED" />
                <action android:name="${applicationId}.ACTION_SOUND_EXPIRED" />
                <action android:name="${applicationId}.ACTION_CANCEL_NOTIFICATION" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <!-- Persistence -->
        <provider
            android:name=".persistance.AlarmProvider"
            android:authorities="${applicationId}.model"
            android:exported="false" />
    </application>
</manifest>
