<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        android:maxSdkVersion="19" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".bootstrap.AlarmApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="@string/simple_alarm_clock">

        <!-- Activity to set a new or modify existing alarm -->
        <activity
            android:name=".ui.main.AlarmsListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:exported="true"
            android:label="@string/alarm_list_title"
            android:launchMode="singleTask"
            android:theme="@style/DefaultDarkTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Application Settings -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/settings"
            android:theme="@style/DefaultDarkTheme" />

        <activity
            android:name=".ui.exported.HandleSetAlarm"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="com.android.alarm.permission.SET_ALARM"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- This activity is basically the same as AlarmAlert
             but full-screen so that it can turn the display on. -->
        <activity
            android:name=".ui.alert.AlarmAlertFullScreen"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@style/DefaultDarkTheme" />

        <!-- Transparent activity with TimPickerFragment -->
        <activity
            android:name=".ui.alert.TransparentActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />

        <!-- KlaxonPresenter plays sound -->
        <service
            android:name=".services.AlertServiceWrapper"
            android:description="@string/alarm_klaxon_service_desc"
            android:exported="false" />

        <!-- Model -->
        <receiver
            android:name=".receivers.AlarmsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.ACTION_FIRED" />
                <action android:name="${applicationId}.ACTION_SNOOZED_FIRED" />
                <action android:name="${applicationId}.ACTION_SOUND_EXPIRED" />
                <action android:name="${applicationId}.ACTION_CANCEL_NOTIFICATION" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.TestReceiver"
            android:exported="false" />
        <!-- Persistence -->
        <provider
            android:name=".data.contentprovider.AlarmProvider"
            android:authorities="${applicationId}.model"
            android:exported="false" />
    </application>
    <!-- https://github.com/ACRA/acra/issues/787 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="message/rfc822" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
            <data android:mimeType="message/rfc822" />
        </intent>
    </queries>
</manifest>
