name: Gradle

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build-develop:
    runs-on: macos-latest
    env:
      ACRA_EMAIL: ${{ secrets.ACRA_EMAIL }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Spotless
      run: ./gradlew spotlessCheck
    - name: Assemble
      run: ./gradlew assembleDevelopDebug
    - name: Unit tests
      run: ./gradlew testDevelopDebugUnitTest
    - name: Espresso tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 22
        script: ./gradlew connectedDevelopDebugAndroidTest
    - name: Generate coverage report
      run: ./gradlew jacocoTestReport
    - name: Upload codecov
      uses: codecov/codecov-action@v1
      with:
        files: ./app/build/reports/jacoco/jacocoTestReport/jacocoTestReport.xml

  publish-develop:
    needs: build-develop
    runs-on: ubuntu-latest
    env:
      ACRA_EMAIL: ${{ secrets.ACRA_EMAIL }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Assemble
        run: ./gradlew assembleDevelopRelease
      - name: Sign develop APK
        uses: r0adkll/sign-android-release@v1
        # ID used to access action output
        id: sign_develop_app
        with:
          releaseDirectory: app/build/outputs/apk/develop/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
      #- name: Upload signed app
      #  uses: actions/upload-artifact@v2
      #  with:
      #    name: Signed develop release apk
      #    path: ${{steps.sign_develop_app.outputs.signedReleaseFile}}
      - name: Publish to google play
        uses: r0adkll/upload-google-play@v1.0.15
        continue-on-error: true
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON_PLAIN_TEXT }}
          packageName: com.better.alarm
          releaseFiles: ${{steps.sign_develop_app.outputs.signedReleaseFile}}
          track: internal
          inAppUpdatePriority: 2
          # whatsNewDirectory: distribution/whatsnew
          # mappingFile: app/build/outputs/mapping/release/mapping.txt
  publish-premium:
    needs: build-develop
    runs-on: ubuntu-latest
    env:
      ACRA_EMAIL: ${{ secrets.ACRA_EMAIL }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Assemble
        run: ./gradlew assemblePremiumRelease
      - name: Sign premium APK
        uses: r0adkll/sign-android-release@v1
        # ID used to access action output
        id: sign_premium_app
        with:
          releaseDirectory: app/build/outputs/apk/premium/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
      - name: Publish to google play
        uses: r0adkll/upload-google-play@v1.0.15
        continue-on-error: true
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON_PLAIN_TEXT }}
          packageName: com.premium.alarm
          releaseFiles: ${{steps.sign_premium_app.outputs.signedReleaseFile}}
          track: internal
          inAppUpdatePriority: 2
